.GlobalError {
    position: relative;
    color: #FF6060;
    text-align: center;
    width: 100%;
}

.pageError {
    text-decoration: none;
    text-transform: none;
    color: #FF6060;
}




.codeError {
    font-weight: 700;
    font-size: 288px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FF6060;
}

.textError {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.pageError {
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;

    text-transform: none;
    color: #FF6060;
    line-height: 200px;

}

.pageError:hover {
    text-decoration-line: underline;

}


@media (max-width: 800px ) {
    .codeError {
        font-size: 96px;
        margin-top: 180px;
        margin-bottom: 50px;
        
    }

    .textError {
        font-size: 18px;
        margin-bottom: 0px
    }

    .pageError {
        line-height: 150px;
        font-size: 14px;
    }

}