.banner {
    position: relative;
    height: 223px;
    width: 1240px;
    margin: auto;
    margin-bottom: 30px;
  }
  
.bannerImg {
    z-index: -1;
}

.posBan {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.banner-text {
    font-weight: 500;
    font-size: 48px;
    color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    display: flex;
}
.text1 {
    padding-right: 0px;
    margin: 0;
  }

.text2 {
    margin: 0;
}

@media (max-width : 1300px) {
  .banner {
    width: 90%;
  }
}

@media (min-width: 800px) {
  .banner-text {

    z-index: 10;
    text-align: center;
  }
}

  @media (max-width: 800px) {
        .banner-text {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 15px;
            width: 90%;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        .banner {
            height: 140px;
        }

  }
  
